.grid {
    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
[class^="device_color"] {
    font-weight: bold;
}
.device_color_1 {
    color : #4c868f;
}

.device_color_2 {
    color : #ea6953;
}

.device_color_3 {
    color : #ffc845;
}

.codrops-header h1 {
    font-size: 50px;
    text-transform: uppercase;
    width: 11.3em;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid #fff;
    -webkit-animation: typing 6s steps(31, end), blink-caret 1s step-end infinite;
}

/* 엔씨소프트 메인슬라이더 첫째화면 애니메이션 효과주기/ Safari 4.0 - 8.0 */

@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 11.3em
    }
}
@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #fff;
    }
}
